/* =========================Common================================== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1280px;
        margin: 0 auto;
    }
/* ========================/Common================================== */


/* =========================Header================================== */
/* ========================/Header================================== */

/* =========================Sea===================================== */
/* ========================/Sea===================================== */

/* =========================Explore================================= */
/* ========================/Explore================================== */

/* =========================Some dude================================ */
/* ========================/Some dude================================ */

/* =========================Map===================================== */
/* ========================/Map===================================== */

/* =========================Footer================================== */
/* ========================/Footer================================== */