/* =========================Common================================== */

* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Spectral SC", serif;
}

body {
    width: 100%;
}

.slash-after::after {
    content: "/";
    padding-left: 20px;
}

.project-content-margin-adjuster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 79%;
    margin: 0 auto;
}

/* ========================/Common================================== */

/* =========================Header================================== */

.header {
    display: flex;
    background-color: #4C97A3;
}

.header-margin-ajuster {
    display: flex;
    justify-content: space-between;
    width: 79%;
    margin: 0 auto;
}

.header__nav-container {
    padding: 40px 0 34px 0;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
}

.header__nav-burger-menu-button {
    display: none;
}

.header__title {
    padding: 28px 0;
    font-family: "Cherry Swash", cursive;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
}

.nav__item {
    list-style-type: none;
    flex-direction: row;
    padding: 0 11px;
}

.nav__item a {
    text-decoration: none;
    color: #FFFFFF;
}

/* ========================/Header================================== */

/* =========================Sea===================================== */

.sea {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background: url(../img/background/sea-background.jpeg);
    background-size: cover;
}

.sea__title {
    width: 50%;
    text-align: center;
    padding-top: 129px;
    margin-bottom: 46px;
    font-family: "Spectral SC", serif;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

.sea__btn {
    margin-bottom: 121px;
    padding: 12px 41px 13px 41px;
    color: #E4E4E4;
    background-color: Transparent;
    border: 3px solid #E4E4E4;
    border-radius: 7px;
    font-family: "Spectral SC", serif;
    font-size: 30px;
    font-weight: 300;
}

.sea__list {
    display: flex;
    margin-bottom: 110px;
    padding: 0;
}

.sea__list-item {
    margin: 0 20px;
    list-style-type: none;
}

.sea__item-hover:hover {
    color: #69728C;
}

.sea__list-item::before {
    content: "\2B24";
}

/* ========================/Sea===================================== */

/* =========================Explore================================= */

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.explore__title {
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Spectral SC", serif;
    font-size: 30px;
    font-weight: 300;
}

.explore__text {
    margin-bottom: 70px;
    text-align: center;
    font-family: "Spectral SC", serif;
    font-size: 14px;
    font-weight: 300;
}

.explore__images {
    display: flex;
    width: 30%;
    margin-bottom: 80px;
}

.explore-cake {
    flex-grow: 0;
    padding-top: 51px;
    padding-left: 51px;
    margin: 0 auto;
    background: url(../img/block-explore/cake.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.explore-earth {
    flex-grow: 0;
    padding-top: 51px;
    padding-left: 56px;
    margin: 0 auto;
    background: url(../img/block-explore/earth.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.explore-case {
    flex-grow: 0;
    padding-top: 51px;
    padding-left: 53px;
    margin: 0 auto;
    background: url(../img/block-explore/case.png);
    background-repeat: no-repeat;
}

/* ========================/Explore================================== */

/* =========================User block=============================== */

.user-block {
    color: #ffffff;
    background-color: #00D089;
}

.user-block__img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    object-position: 0 1px;
    border-radius: 50%;
    margin-bottom: 62px;
}

.user-block__container {
    display: flex;
    padding-top: 50px;
}

.user-block__name-container {
    position: relative;
    padding-left: 38px;
}

.user-block__description {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.user-block__inch {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 80px;
    left: 30px;
    padding-top: 15px;
    font-size: 230px;
    color: #58DAA5;
}

.user-block__text {
    padding-bottom: 94px;
    font-family: "Spectral SC", serif;
    font-size: 18px;
    font-weight: 400;
}

/* ========================/User block================================ */

/* =========================Map===================================== */

.map {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/background/map.jpeg);
}

.map__form-container {
    background-color: #FDFDFD;
    opacity: 0.80;
    border: 0.5px solid #cccccc;
    border-radius: 50%;
    width: 390px;
}

.map__form-container:hover {
    background: #A5BFDD;
    opacity: 0.8;
}

.map__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__item-name {
    width: 276px;
    margin-top: 80px;
    margin-bottom: 14px;
    font-family: "Spectral SC", serif;
    font-size: 14px;
    font-weight: 300;
}

.form__item-adress {
    width: 276px;
    margin-bottom: 15px;
    font-family: "Spectral SC", serif;
    font-size: 14px;
    font-weight: 300;
}

.form__item-message {
    width: 276px;
    resize: none;
    margin-bottom: 32px;
    font-family: "Spectral SC", serif;
    font-size: 14px;
    font-weight: 300;
}

.form__item-btn {
    height: 67px;
    margin-bottom: 45px;
}

.map__bottom-pusher {
    margin-bottom: 50px;
}

/* w3c */

.form__custom-checkbox-container {
    height: 100px;
    width: 67px;
}

.custom-checkbox {
    position: relative;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    height: 67px;
    width: 67px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #00D089;
    border: initial !important;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 24px;
    top: 10px;
    width: 15px;
    height: 30px;
    border: solid white;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ========================/Map===================================== */

/* =========================Footer================================== */

footer {
    background-color: #00D089;
    text-align: center;
    padding: 14px 0 16px 0;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff
}

/* ========================/Footer================================== */
